wikipedia==1.4.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.58
langchain-google-community==1.0.3
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
langsmith==0.1.57